<div class="container  d-flex align-items-center justify-content-center">
    <div class="add-student" col-md-3>
        <ul class="list-group" *ngFor="let item of courseDetails">
            <li class="list-group-item title">لیست فراگیران کلاس <strong><i>{{item.title}}</i></strong></li>
            <ul class="student-list" *ngFor="let student of registeredCourse;">
                <li class="list-group-item" style="display: block;">
                    <div style="padding-top: 20px;">
                        <span (click)="goToStudentDetails(student.id, student.fName, student.lName)"><img
                                class="profile-img" src="{{student.imagePath}}" alt="{{student.fName}" width="60px"></span>
                        <span>{{student.fName}} {{student.lName}}</span>
                        <span style="float: left;">
                            <mat-icon (click)="removeHandler(student.id, item.id)"
                                style="color: #F44336; cursor: pointer; padding: 25px;">
                                delete_outline</mat-icon>
                            <mat-icon (click)="studentScores(item.id,student.id)" style="color: #777; cursor: pointer;">
                                summarize</mat-icon>
                        </span>
                    </div>
                    <div style="font-size: 12px; color: #777;">{{student.nationalCode}}</div>
                </li>
            </ul>
        </ul>
    </div>
</div>
